.header{
    .content{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        max-width: 77rem;
        margin: 0 auto;
    }
    &__nav{
        width: 33rem;
        ul{
            display: flex;
            justify-content: space-evenly;
            .link{
                li{
                    display: inline-block;
                    @include main_font(1.3rem,400,$color_gray);
                }
            }
            .link:hover{
                li{
                    color: $color_black;
                    transition: .2s;
                }
            }   
        }
    }
    .logo{
        height: 5.4rem;
        width: 5.5rem;
    }
}

